[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohit1101988
[access "refs/for/refs/*"]
	read = group user/mohit1101988
	push = group user/mohit1101988
	label-Code-Review = -2..+2 group user/mohit1101988
	label-Verified = -1..+1 group user/mohit1101988
	rebase = group user/mohit1101988
	removeReviewer = group user/mohit1101988
	submit = group user/mohit1101988
[access "refs/heads/*"]
	read = group user/mohit1101988
	create = group user/mohit1101988
	push = +force group user/mohit1101988
	pushMerge = group user/mohit1101988
[access "refs/tags/*"]
	push = group user/mohit1101988
	push = +force group user/mohit1101988
